<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Ada Zheng | Personal Website | 个人网站</title>
		<meta name="keywords" content="郑荣军,个人网站,个人网页,个人站点,个人博客,个人主页,前端开发工程师">
		<meta name="description" content="关于郑荣军的学习、工作、生活、情感以及创作、收集的文章。欢迎大家光临，多多交流！">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- ==============================================
		Favicons
		=============================================== -->
		<link rel="shortcut icon" href="__PUBLIC__/images/logo-9.png">
		<link rel="apple-touch-icon" href="__PUBLIC__/images/logo-9.png">
		<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/logo-9.png">
		<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/logo-9.png">
		<link rel="icon" href="__PUBLIC__/images/logo-9.png">
		<!-- ==============================================
		CSS
		=============================================== -->    
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/flexslider.css">
		<link id="main" rel="stylesheet" href="__PUBLIC__/css/styles-9.css">
		<link id="theme" rel="stylesheet" href="__PUBLIC__/css/styles-9.css">
		<!-- <link rel="stylesheet" href="__PUBLIC__/css/style-switcher.css"> -->
		
		<!-- ==============================================
		Fonts
		=============================================== -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'> -->
		<!-- ==============================================
		JS
		=============================================== -->
			
		<!--[if lt IE 9]>
			<script src="__PUBLIC__/js/libs/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
		
	</head>
  
	<body data-spy="scroll" data-target="#main-nav" data-offset="200">
	
		<!--=== PAGE PRELOADER ===-->
		<div id="page-loader"><span class="page-loader-gif"></span></div>
		
	
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
					<!-- ======= LOGO ========-->
					<a class="navbar-brand scrollto" href="#home"><img src="__PUBLIC__/images/logo-9.png" alt=""/>Ada Zheng</a>
				
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="sr-only">
							<a href="#home" class="scrollto">Home</a>
						</li>
						<li>
							<a href="#about" class="scrollto">关于我</a>
						</li>
						<li>
							<a href="#services" class="scrollto">工作历程</a>
						</li>
						<li>
							<a href="#portfolio" class="scrollto">作品展示</a>
						</li>
						<li>
							<a href="#contact" class="scrollto">联系我</a>
						</li>
					</ul>
				</div><!--End navbar-collapse -->
				
			</div><!--End container -->
			
		</div><!--End main-nav -->
		
		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home">
		
			<div class="container text-center">
			
				<p>Welcome to</p>
				
				<h1>Ada's world</h1>
				
				<p>Initiative，independent and good communication skill</p>
			
			</div>
			
		</header><!--End header -->
		<!-- ==============================================
		ABOUT
		=============================================== -->
		<section id="about" class="add-padding bg-color2">
		
			<div class="container">
				
				<div class="row">
				
					<div class="col-md-3 scrollimation fade-right d1">
					
						<img class="img-responsive polaroid" src="__PUBLIC__/images/about.png" alt="" />
					
					</div>
					<div class="col-md-3 scrollimation fade-right d1">
					
						<img class="img-responsive polaroid1" src="__PUBLIC__/images/about1.png" alt="" />
					
					</div>
					
					<div class="col-md-6 scrollimation fade-left d3">
					
						<!-- <h3 class="big-text">Hello,<br/>大家好</h3> -->
						
						<p class="lead">
							Ada, 前端设计工程师， 对Web开发充满热情,喜欢编程热爱编程。个性积极乐观,喜欢挑战！</br>
							What makes life dreary is the want of motive.——George Eliot
						</p>
						
						<!-- <h3 class="atitle with-icon">
						    <i class="fa fa-user icn-title">
						    </i>
						    座右铭
						</h3>
						<p class="lead"></p> -->
						<h3 class="atitle">
						    <i class="fa fa-credit-card">
						    </i>
						    基本资料
						</h3>
					    <div class="identity-area">
					    	<div class="row">
						        <div class="col-sm-4">
						            <label>
						                姓名
						            </label>
						        </div>
						        <div class="col-sm-8">
						            郑荣军
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                出生年份
						            </label>
						        </div>
						        <div class="col-sm-8">
						            1989-04
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                地址
						            </label>
						        </div>
						        <div class="col-sm-8">
						            上海杨浦区
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                电话
						            </label>
						        </div>
						        <div class="col-sm-8">
						            保密
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                邮箱
						            </label>
						        </div>
						        <div class="col-sm-8">
						            ada_zhengrj@163.com
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                毕业学校
						            </label>
						        </div>
						        <div class="col-sm-8">
						            上海第二工业大学
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                专业
						            </label>
						        </div>
						        <div class="col-sm-8">
						            电子信息工程
						        </div>
						    </div>
						    <div class="row">
						        <div class="col-sm-4">
						            <label>
						                个人网站
						            </label>
						        </div>
						        <div class="col-sm-8">
						            <a target="_blank" href="http://ada.jokeai.com/" style='color: #fff;'>
						               ada.jokeai.com
						            </a>
						        </div>
						    </div>
						</div>
					
					</div>
				
				</div>
				
			</div>
		
		</section>
		<!-- ==============================================
		工作历程
		=============================================== -->
		<!-- resume -->
		<section class="section resume" id="services">
			<div class="container scrollimation fade-up">
				<h2 class="heading">工作历程</h2>
				<ul class="timeline">
					<li class="year">2012</li>
					<li class="event">
						<h3 class="heading">Android培训</h3>
						<span class="month"><i class="fa fa-calendar"></i>7月 - 9月</span>
						<p>两个月的Java,Android研发学习</p>
					</li>
					<li class="event">
						<h3 class="heading">IOS培训</h3>
						<span class="month"><i class="fa fa-calendar"></i>9月 - 10月</span>
						<p>IOS编程学习与简单项目研发</p>
					</li>
					<li class="event">
						<h3 class="heading">Android项目研发</h3>
						<span class="month"><i class="fa fa-calendar"></i>9月 - 12月</span>
						<p>参与培训机构的外包项目</p>
						<p>1、三个人一组完成一个简单的聊天软件，后台是Java开发</p>
						<p>2、完成一个公司产品管理与介绍的软件</p>
					</li>
					
					<li class="year">2013</li>
					
					<li class="event">
						<h3 class="heading">上海世昕软件开发有限公司</h3>
						<span class="month"><i class="fa fa-calendar"></i>1月 - 4月</span>
						<p>燃气设备管理android手机软件开发 </p>
					</li>
					<li class="event">
						<h3 class="heading">上海世昕软件开发有限公司</h3>
						<span class="month"><i class="fa fa-calendar"></i>2月 - 12月</span>
						<p>1、网站开发前期需求的调研。</p>
						<p>2、浦东燃气公司巡检管理网站前端。</p>
						<p>3、信访办数据业务管理网站。</p>
						<p>4、Geoserver地图系统二次开发。</p>
						<!-- <figure>
							<img src="__PUBLIC__/images/skills.png" alt="Skills" />
						</figure> -->						
					</li>
					<li class="year">2014</li>
					<li class="event">
						<h3 class="heading">上海世昕软件开发有限公司</h3>
						<span class="month"><i class="fa fa-calendar"></i>1月 - 9月</span>
						<p>1、客户网站后期维护。</p>
						<p>2、独立完成世昕公司管理系统研发。（HTML,Javascript,PHP）</p>
					</li>
					<li class="event">
						<h3 class="heading">温州贷</h3>
						<span class="month"><i class="fa fa-calendar"></i>9月 - 12月</span>
						<p>温州贷网站重构,前后前分离(HTML,Javascript,Ajax)</p>
					</li>
					<li class="year">2015</li>
					<li class="event">
						<h3 class="heading">温州贷</h3>
						<span class="month"><i class="fa fa-calendar"></i>1月 - 至今</span>
						<p>温州贷网站重构与新产品上线。</p>
						<p>温州贷手机网站研发（HTML5,CSS3,Bankbone）</p>
					</li>
				</ul>

			</div>
		</section>
		<!-- end resume -->
		
	
		<!-- ==============================================
		SKILLS
		=============================================== -->
		<section id="skills" class="add-padding border-bottom-color2">
		
			<div class="container">
				
				<div class="row">
				
					<div class="col-md-6 scrollimation fade-right">
					    <h3 class="atitle with-icon">
					        <span class="fa fa-code icn-title">
					        </span>
					        编程技术
					    </h3>
					    <div class="box-block">
					        <!--=========S Tart your Skills Progress bars section===================================-->
					        <ul class="list-unstyled list-skills">
					            <li>
					                <span class="caption-skill">
					                    HTML/CSS/JS
					                </span>
					                <div class="progress">
					                    <div class="progress-bar" style="width: 90%;">
					                        <span>
					                            90%
					                        </span>
					                    </div>
					                </div>
					            </li>
					            <li>
					                <span class="caption-skill">
					                    PHP
					                </span>
					                <div class="progress">
					                    <div class="progress-bar" style="width: 80%;">
					                        <span>
					                            80%
					                        </span>
					                    </div>
					                </div>
					            </li>
					            <li>
					                <span class="caption-skill">
					                    HTML5/CSS3
					                </span>
					                <div class="progress">
					                    <div class="progress-bar" style="width: 60%;">
					                        <span>
					                            60%
					                        </span>
					                    </div>
					                </div>
					            </li>
					            <li>
					                <span class="caption-skill">
					                    MYSQL/SQL
					                </span>
					                <div class="progress">
					                    <div class="progress-bar" style="width: 85%;">
					                        <span>
					                            85%
					                        </span>
					                    </div>
					                </div>
					            </li>
					        </ul>
					        <!--=========E nd your Skills Progress bars section===================================-->
					    </div>
					    <div class="deviter">
					    </div>
				    </div>
				    <div class="col-md-6 scrollimation fade-left">
					    <h3 class="atitle with-icon">
					        <span class="fa fa-pencil icn-title">
					        </span>
					        设计技术
					    </h3>
					    <div class="box-block">
					        <!--=========S Tart your Skills Progress point bars section===================================-->
					        <ul class="list-unstyled list-points-progress">
					            <li>
					                <span class="caption-skill">
					                    PhotoShop
					                </span>
					                <div class="pogress-point">
					                    <span class="point-indicator">
					                        90%
					                    </span>
					                    <div class="progress-bar-point" style="width: 90%;">
					                    </div>
					                </div>
					            </li>
					            <li>
					                <span class="caption-skill">
					                    Adobe Illustrator
					                </span>
					                <div class="pogress-point">
					                    <span class="point-indicator">
					                        70%
					                    </span>
					                    <div class="progress-bar-point" style="width: 70%;">
					                    </div>
					                </div>
					            </li>
					            <li>
					                <span class="caption-skill">
					                    3D Max
					                </span>
					                <div class="pogress-point">
					                    <span class="point-indicator">
					                        50%
					                    </span>
					                    <div class="progress-bar-point" style="width: 50%;">
					                    </div>
					                </div>
					            </li>
					        </ul>
					        <!--=========S Tart your Skills Progress point bars section===================================-->
					    </div>
					    <div class="deviter">
					    </div>
					</div>
				</div>
				
			</div>
		
		</section>
			
		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="add-padding">
		
			<div class="container">
				
				<h1 class="big-text text-center scrollimation fade-in">作品展示</h1>
				
				<!--==== Portfolio Filters ====-->
				<div id="filter-works">
					<ul>
						<li class="active scrollimation fade-right d1">
							<a href="#" data-filter="*">所有</a>
						</li>
						<li class="scrollimation fade-right">
							<a href="#" data-filter=".identity">网站</a>
						</li>
						<li class="scrollimation fade-left">
							<a href="#" data-filter=".logo">Android</a>
						</li>
						<li class="scrollimation fade-left d1">
							<a href="#" data-filter=".illustration">mApp</a>
						</li>
					</ul>
				</div><!--End portfolio filters -->
				
				<!--==== Project Preview ====-->
				<div id="project-preview">
				
					<span class="close-preview">&times;</span>
				
					<div id="project-slider" class="flexslider"></div>
					
					<h1 id="project-title"></h1>
				
					<div id="project-content"></div>
				
				</div><!--Project Preview -->
				
			</div>
		
			<div class="container masonry-wrapper">
			
				<div id="projects-container">
				
					<!-- ==============================================
					SINGLE PROJECT ITEM
					=============================================== -->	
					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-1.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">管理系统</h2><!--Project Title -->
							<p>上海世昕软件开发有限公司</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-10.png,__PUBLIC__/images/projects/full-11.png" >
						
							<p>1、负责公司业务管理。</p>
							<p>2、公司数据管理</p>
							<p>3、公司业务流程管理。</p>
							<p class="text-center"><a class="btn btn-color1" href="http://manage.jokeai.com/" target='_blank'><i class="fa fa-arrow-right"></i>进入网站</a></p>
						
						</div>
						
					</article>
					<!-- ==============================================
					END PROJECT ITEM
					=============================================== -->						
					<article class="project-item illustration">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-4.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">手机网站</h2><!--Project Title -->
							<p>温州贷</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-5.png" >
							<p class="text-right"><a class="btn btn-color1" href="#external-link"><i class="fa fa-dribbble"></i>进入网站</a></p>
						</div>
						
					</article><!--End Project Item -->
					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-2.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">购物网站</h2><!--Project Title -->
							<p>光大物业快车网</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-1.png,__PUBLIC__/images/projects/full-2.png" >
						<p class="text-right"><a class="btn btn-color1" href="#external-link"><i class="fa fa-dribbble"></i>进入网站</a></p>
							
						</div>
						
					</article><!--End Project Item -->

					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-3.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">公司网站</h2><!--Project Title -->
							<p>上海六道电子科技有限公司</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-3.png,__PUBLIC__/images/projects/full-4.png" >
						<p class="text-center"><a class="btn btn-color1" href="http://www.jokeai.com/" target='_blank'><i class="fa fa-arrow-right"></i>进入网站</a></p>
						</div>
						
					</article><!--End Project Item -->

					

					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-5.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">P2P网站</h2><!--Project Title -->
							<p>温州贷</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-6.png,__PUBLIC__/images/projects/full-6-1.png" >
							<p class="text-center"><a class="btn btn-color1" href="https://www.wzdai.com/" target="_blank"><i class="fa fa-arrow-right"></i>进入网站</a></p>
						</div>
						
					</article><!--End Project Item -->

					<article class="project-item logo">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-6.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">Android手机软件</h2><!--Project Title -->
							<p>上海世昕软件开发有限公司</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-7.png" >
						</div>
						
					</article><!--End Project Item -->

					<article class="project-item logo">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-7.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">Android环境检测软件</h2><!--Project Title -->
							<p>电子科技公司</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
					</article><!--End Project Item -->
					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-8.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">浦东燃气管理系统</h2><!--Project Title -->
							<p>上海浦东市南燃气</p><!--Project Subtitle -->
						</div>
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-8.png" >
						</div>
						<!--==== Project Preview HTML ====-->
						
					</article><!--End Project Item -->
					<article class="project-item identity">
						
						<img class="img-responsive project-image" src="__PUBLIC__/images/projects/thumb-9.png"  alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">杨浦区信仿办管理系统</h2><!--Project Title -->
							<p>杨浦区信仿办</p><!--Project Subtitle -->
						</div>
						<div class="sr-only project-description" data-images="__PUBLIC__/images/projects/full-9.png" >
						</div>
						<!--==== Project Preview HTML ====-->
						
					</article><!--End Project Item -->
				</div><!-- End projects --> 
				
			</div><!-- End container --> 
			
		
		</section>
			
		
			
		<!-- ==============================================
		CONTACT
		=============================================== -->
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LoRyDGDrdKWxTGz0iFmu3DXv"></script>
		<section id="contact" class="add-padding">
		
			<div class="container text-center">
				
				<div class="row">
				
					<div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">
					
						<h1 class="big-text">联系我</h1>
						
						<p class="lead">有任何问题，可以直接联系我，我会尽快回复哦！</p>
						<div id="gmap"></div>
					
					</div>
				
					<!--=== Contact Form ===-->

					<form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="{:U('Home/Index/sendemail')}" method="post" novalidate >
						
						<div class="form-group">
						  <label class="control-label" for="contact-name">姓名</label>
						  <div class="controls">
							<input id="contact-name" name="contactName" placeholder="姓名" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
							<i class="fa fa-user"></i>
						  </div>
						</div><!-- End name input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-mail">邮箱</label>
						  <div class=" controls">
							<input id="contact-mail" name="email" placeholder="邮箱" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
							<i class="fa fa-envelope"></i>
						  </div>
						</div><!-- End email input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-message">内容</label>
							<div class="controls">
								<textarea id="contact-message" name="comments"  placeholder="内容" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
								<i class="fa fa-comment"></i>
							</div>
						</div><!-- End textarea -->
						
						<p><button name="submit" type="submit" class="btn btn-color2 btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-paper-plane"></i>Send Message</button></p>
						<input type="hidden" name="submitted" id="submitted" value="true" />
						
					</form><!-- End contact-form -->
					
				</div>
				
			</div>
		
		</section>
			
		<!-- ==============================================
		MAP
		=============================================== -->
		
		<!-- <section id="map">
		
			<div id="gmap"></div>
		
		</section> -->
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		
		<footer id="main-footer" class="add-padding bg-color3 border-top-color2">
		
			<div class="container">
				<div class="bdsharebuttonbox" style='width: 140px;margin: 0 auto;'>
					<a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a>
					<a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a>
				</div>
				<p class="text-center"><a href="http://ada.jokeai.com/" target="_blank"> Copyright©ecode 2014 www.jokeai.com </a> </p>
				<p class="text-center">All Rights Reserved. 沪ICP备14017040号</p>
			</div>
		</footer>
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
		<script>window.jQuery || document.write('<script src="__PUBLIC__/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
		
		<script src="__PUBLIC__/js/libs/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/jquery.scrollto.js"></script>
		<script src="__PUBLIC__/js/waypoints.min.js"></script>
		<script src="__PUBLIC__/js/jquery.masonry.min.js"></script>
		<script src="__PUBLIC__/js/jquery.flexslider.min.js"></script>
		<script src="__PUBLIC__/js/jquery.backstretch.min.js"></script>
		<!-- <script src="__PUBLIC__/js/twitterFetcher_v10_min.js"></script> -->
		<!-- <script src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
		<script src="__PUBLIC__/js/contact.js"></script>
		<script src="__PUBLIC__/js/scripts.js"></script>
		<script src="__PUBLIC__/js/style-switcher.js"></script>
		
		<script type="text/javascript">
			// 百度地图API功能
			var map = new BMap.Map("gmap");
			var point = new BMap.Point(121.5176650000, 31.3101350000);
			map.centerAndZoom(point, 15);
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);               // 将标注添加到地图中
			marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
		</script>
		
		<!--Style Switcher-->
		<div id="style-switcher">
			<div id="toggle-switcher"><i class="fa fa-qq"></i></div>
			
			<ul class='lxstyle'>
				<li class='l1 on'><i class="fa fa-qq"></i></li>
				<li class='l2'><i class="fa fa-weixin"></i></li>
				<li><a href="http://weibo.com/adaclass" target="_blank"><i class="fa fa-weibo"></i></a></li>
			</ul>
			<div class='code wcode'></div>
		</div><!--End Style Switcher-->
		<!-- 百度统计 start -->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?6aed18171814da878f20b9ba34d022da";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		<!-- 百度统计 end -->
		<!-- 百度分享 -->
		
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
		<!-- 百度分享 -->
		
	</body>
	
</html>